<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Socket.io Simple Example</title>
    <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="xuly.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css" />

  </head>
  <body>

    <div class="container">

      <div class="main-container users">

        <div class="profile-container">

          <div class="profile-user photo">

            <div class="profile-user-image">

              <img src="/images/icons8-user-100.png" alt="profile-user-image">

            </div>

          </div>

          <div class="profile-user heading">
            <p><b>Chats</b></p>
          </div>

          <div class="profile-user setting">
            <div class="profile-user-setting">
              <div class="profile-setting-image">

                <img src="/images/icons8-gear-100.png" alt="profile-setting-image">

              </div>
            </div>
          </div>

          <div class="profile-user edit">
            <div class="profile-user-edit">
              <div class="profile-edit-image">

                <img src="/images/icons8-edit-512.png" alt="profile-edit-imagem">

              </div>
            </div>
          </div>

        </div>

        <div class="user-container">

          <div class="search-container">

            <div class="search-user button">

              <button>search</button>
              
            </div>

            <div class="search-user text">

              <input type="text" name="users" placeholder="search messenger..." />

            </div>

          </div>

          <div class="user-main-container">



          </div>

        </div>

      <div class="main-container chat">
        chat
      </div>

    </div>

  </body>
</html>

